head {
	font-family: 'Oswald', sans-serif;
}
body {
	font-family: 'Oswald', sans-serif;
	background-image:url(../img/bg.png);
	background-color:#EAFEFF;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center bottom;
}
.center {
	margin-left: auto;
    margin-right: auto;
}
a:link {
    text-decoration:none;
    color: grey;
}

a:visited {
    text-decoration:none;
    color: grey;
}

a:hover {
    text-decoration:underline;
    color: white;
}

.content {
    width:80%;
    text-align:left;
	line-height:200%;
    padding-left:20%;
    padding-right:auto;
    padding-top:0px;
    padding-bottom:15%;
}

.navigation {
	width:36%;
}
.credit {
	width:80%;
    position: relative;
	text-align:center;
	line-height:200%;
    padding-left:20%;
    padding-right:auto;
    padding-top:0px;
	padding-bottom:3%;
}
.indent {
	padding-left:10%;
}
hr {
    border-bottom: 1px solid #5F6C73;
    margin:5px 0;
    height:2px;
    width:100%;
    margin-bottom:10px;
}

hr.dashed {
    border: 0;
    border-bottom: 1px dashed #ccc;
}

hr.section {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
}

img.auto {
	width:100%;
	height:100%;
}

#picturelist {
text-align:left;
margin-right:auto;
margin-left:auto;
}

#picturelist li {
list-style:none;
float:left;
margin:25px;
font-weight:bold;
color:#777777;
}

#picturelist img{
display:block;
border:2px solid gray;
}

#picturelist img:hover{
border:2px solid #515151;
}

#picturelist a{
color:#777777;
text-decoration:none;
}

#picturelist a:hover{
color:#999999;
}